{{define "User/Login.html"}}
<html>
<head>
<title>用户登录</title>
<script src='/assets/js/jquery/1.12.4/jquery.min.js'></script>
<script>
function login(){
	var name = $("#name").val()
	var password = $("#password").val()
	$.ajax({
		type: 'get',
		url: "/user/loginJson",
		data: {
			name: name,
			password: password
		},
		success: function(data){
			if (data == "success"){
				alert("登录成功")
        window.location.href="/goods/list"
			} else {
				alert(data)
			}
		}
	})
}
</script>
</head>
<body>
<p>用户名：<input type='text' id='name' name='name'> </p>
<p>密码：<input type='text' id='password' name='password'> </p>
<input type='button' onclick='login()'  value="提交">
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/user/register">注册</a>
</body>
</html>
{{end}}