{{define "User/Register.html"}}
<html>
<head>
<title>用户注册</title>
<script src='/assets/js/jquery/1.12.4/jquery.min.js'></script>
<script>
function register(){
	var name = $("#name").val()
	var password = $("#password").val()
	var status = $("#status").val()
	var role = $("#role").val()
	$.ajax({
		type: 'get',
		url: "/user/registerJson",
		data: {
			name: name,
			password: password,
			status: status,
			role: role,
		},
		success: function(data){
			if (data == "success"){
				alert("用户创建成功")
			} else {
				alert(data)
			}
		}
	})
}
</script>
</head>
<body>
<p>用户名：<input type='text' id='name' name='name'> </p>
<p>密码：<input type='text' id='password' name='password'> </p>
<p>状态：<input type='text' id='status' name='status'> </p>
<p>角色：<input type='text' id='role' name='role'> </p>
<input type='button' onclick='register()'  value="提交">
</body>
</html>
{{end}}